@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .homepage-grid {
        display: grid;
        grid-template-columns: 20% 55% 25%;
    }

    .profile-grid {
        display: grid;
        grid-template-columns: 20% 80%;
    }
}